@{
  Layout = "_Layout";
}

@model PierreSweets.Models.Flavor


<h4>Add a flavor to a Treat:</h4>

<h4>Add @Html.DisplayFor(model => model.FlavorId) to this Treat:</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Flavor")
  @Html.DropDownListFor(model => model.FlavorId, ViewBag.FlavorList as SelectList, "Select a Flavor", new { @class = "form-control" })
  <br>
  <input type="submit" value="Save" />

}

  <p>@Html.ActionLink("Back to All Recipes", "Index")</p>