@{
    Layout = "_Layout";
}
@using PierreSweets.Models
@model PierreSweets.Models.Flavor

<h2>Flavor Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if (Model.JoinEntities.Count == 0)
{
    <p>This flavor does not have any Treats yet!</p>
}
else
{
    <h4>This flavor has the following Treat:</h4>

    <ul>
  @foreach(TreatFlavor join in Model.JoinEntities)
  {
    <li>@join.Treat.TreatName</li>
    @using (Html.BeginForm("DeleteJoin", "Flavors"))
    {
    @Html.Hidden("joinId", @join.TreatFlavorId)
    <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Add Treat", "AddTreat", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.FlavorId })</p>