@{
  Layout = "_Layout";
}

@model PierreSweets.Models.Flavor
<di>
<h2>Edit Flavor</h2>
<h4>Edit this flavor: @Html.DisplayFor(model => model.FlavorName)</h4>
</di>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.FlavorName)
    @Html.EditorFor(model => model.FlavorName)

    <input type="submit" value="Save" />
}


<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId }, new { @class = "btn btn-danger" })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>