@{
  Layout = "_Layout";
}

@model PierreSweets.Models.Flavor

<h4> Add a tag to this recipe: @Html.DisplayFor(model => model.FlavorId)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>