@{
    Layout = "_Layout";
}

@model PierreSweets.Models.Treat

<h2>Recipe Details</h2>
<hr />
<div>
    <h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.Description)</h3>
  
</div>

@if (Model.JoinEntities.Count == 0)
{
    <p>This treat does not have any flavors yet!</p>
}
else
{
    <h4>This Treat has the following flavors:</h4>
    <ul>
        @foreach (var join in Model.JoinEntities)
        {
            <li>Flavor: @join.Treat.Description</li>
        }
    </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Add Flavors", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>