@{
    Layout = "_Layout";
}
@using PierreSweets.Models
@model PierreSweets.Models.Treat

<h2>Treat Details</h2>
<hr />
<div>
    <h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>  
</div>

@if (Model.JoinEntities.Count == 0)
{
    <p>This treat does not have any flavors yet!</p>
}
else
{
    <h4>This Treat has the following flavors:</h4>
  <ul>
    @foreach(TreatFlavor join in Model.JoinEntities)
    {
    <li>Flavor: @join.Flavor.FlavorName</li>
    }
  </ul>
}

 <p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
    <p>@Html.ActionLink("Add Flavor to Treat", "AddFlavor", new {id = Model.TreatId})</p>
    <p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId})</p>
    <p>@Html.ActionLink("Back to all Treats", "Index")</p>
@Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-secondary" })