@{
  Layout = "_Layout";
}

@model PierreSweets.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

        <label class="label">@Html.DisplayNameFor(model => model.TreatName)</label>
            @Html.EditorFor(model => model.TreatName, new { @class = "form-control" })
            <p class="text-danger font-weight-bold">@Html.ValidationMessageFor(model => model.TreatName)</p>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Back to All Treats", "Index", null, new { @class = "btn btn-secondary" })</p>